/* reset css */
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
/*  flex box pattern  */
.flex_col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.flex_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/*  Header */
header {
    position: relative ; 
}

.container_header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
}
nav {
    width: 100%;
    background-color: wheat;
}
.nav_items:hover {
cursor: pointer;
text-decoration: underline  ;
}

.khuyenmai {
   
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}
.nav_items {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 20px;
}
/* PAGE 1  */
.page_1 {
    display: flex;
    flex-direction: row;
    
}
.container_content_1 {
    background-color: pink;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    
}
.new_procedure { 
    margin-top: 150px ;
    margin-left: 50px;
    font-size: 40px;
}
.button_seenow {
    height: 70px;
    width: 200px;
    border: none;
    margin: 50px;
    border-radius: 10px ;
    font-size: 25px;

}
.button_seenow:hover {
    cursor: pointer;
    text-decoration: underline;

}
.name_procedure {
    margin-left: 50px;
    font-size: 50px;
}
.describe_procedure {
    margin-left: 50px;
}
.arrow {
    margin-left: 20px;
    color: #97958F;
   

}
/* PAGE 2 */
.page_2 {
    background-color: #FEFBF4;
}

h4{
    font-size: 50px ;
    margin: 10px;
}
.page_2_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ttsp {
    font-size: 16px;
    margin: 10px;
    word-spacing: 2px;
}
/* page 3 */
.page_3 {
    width: 100%;
    height: 500px;
    background-image: url("img/image3.png");
    background-size: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa hình ảnh */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
}
.ttth {
    background-color: #FEFBF4;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.p_page3 {
    color: #97958F;
    font-size: 20px;
    margin: 10px 15px;
}
.text_run {
    font-size: 40px;
    font-weight: 800;
    word-spacing: 4px;
}
/* page 4 */

.certificate {
    font-size: 40px;
}

.items_page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    text-align: center;
}
h6 {
    font-size: 20px;
}
